
.content {
    max-width: 700px;
    margin: 0 auto;

    padding: var(--space-1);
    color: lightgray;
    background-color: rgb(40, 40, 40);
    border-radius: var(--space-1);
}

.post-container {
    margin-bottom: 10px;
}
