
.content {
    max-width: 700px;
    margin: 0 auto;

    padding: 8px;
    color: lightgray;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
}

.post-container {
    margin-bottom: 10px;
}
