.html {
    font-family: Arial, sans-serif;
}

.content {
    max-width: 700px;
    margin: 0 auto;

    padding: 8px;
    background-color: lightgray;

    border-radius: 8px;
}

.post-container {
    margin-bottom: 10px;
}