

.card {
    border: 3px solid lightgray;
    border-radius: 8px;
    padding: var(--space-1);
    background-color: black;
}

.header {

}

.content-section {
    gap: 10px;
    margin-top: -4px;
}

.post-image {
    border-radius: 8px;
}